In [1]:
!pip install pandas pyarrow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: pyarrow in c:\programdata\anaconda3\lib\site-packages (16.1.0)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd

# Replace with the path to your parquet file
file_path = 'processed_timeseries.parquet'

# Load the parquet file
df = pd.read_parquet(file_path)

# Display the dataframe
df.head(50)  # Shows the first 5 rows

,file_id,timestamp,index,campaign,batch,code,tbl_speed,fom,main_comp,tbl_fill,SREL,pre_comp,produced,waste,cyl_main,cyl_pre,stiffness,ejection
0,1,2018-11-22 23:07:00,1.5,4.0,26.0,1.0,0.000000,0.000000,0.200000,4.090000,0.000000,0.000000,0.0,0.000000,1.060000,4.00,3.000000,90.000000
1,1,2018-11-22 23:08:00,6.5,4.0,26.0,1.0,0.000000,0.000000,0.200000,4.090000,0.000000,0.000000,0.0,0.000000,1.060000,4.00,3.000000,90.000000
2,1,2018-11-22 23:09:00,12.5,4.0,26.0,1.0,0.000000,0.000000,0.200000,4.090000,0.000000,0.000000,0.0,0.000000,1.060000,4.00,3.000000,90.000000
3,1,2018-11-22 23:10:00,18.5,4.0,26.0,1.0,0.000000,0.000000,0.200000,4.090000,0.000000,0.000000,0.0,0.000000,1.060000,4.00,3.000000,90.000000
4,1,2018-11-22 23:11:00,24.5,4.0,26.0,1.0,0.000000,0.000000,0.200000,4.090000,0.000000,0.000000,0.0,0.000000,1.060000,4.00,3.000000,90.000000
5,1,2018-11-22 23:12:00,30.5,4.0,26.0,1.0,0.000000,0.000000,0.200000,4.090000,0.000000,0.000000,0.0,0.000000,1.060000,4.00,3.000000,90.000000
6,1,2018-11-22 23:13:00,36.5,4.0,26.0,1.0,0.000000,0.000000,0.200000,4.090000,0.000000,0.000000,0.0,0.000000,1.060000,4.00,3.000000,90.000000
7,1,2018-11-22 23:14:00,42.5,4.0,26.0,1.0,0.000000,0.000000,0.200000,4.090000,0.000000,0.000000,0.0,0.000000,1.060000,4.00,3.000000,90.000000
8,1,2018-11-22 23:15:00,48.5,4.0,26.0,1.0,0.000000,0.000000,0.200000,4.090000,0.000000,0.000000,0.0,0.000000,1.060000,4.00,3.000000,90.000000
9,1,2018-11-22 23:16:00,54.5,4.0,26.0,1.0,0.000000,0.000000,0.200000,4.090000,0.000000,0.000000,0.0,0.000000,1.060000,4.00,3.000000,90.000000
10,1,2018-11-22 23:17:00,60.5,4.0,26.0,1.0,0.000000,0.000000,0.200000,4.090000,0.000000,0.000000,0.0,0.000000,1.060000,4.00,3.000000,90.000000
11,1,2018-11-22 23:18:00,66.5,4.0,26.0,1.0,60.283333,16.166667,3.650000,4.090000,61.266667,0.000000,0.0,406.166667,1.060000,4.00,3.000000,153.000000
12,1,2018-11-22 23:19:00,72.5,4.0,26.0,1.0,33.333333,6.666667,5.933333,4.090000,4.883333,0.016667,0.0,1660.500000,1.060000,4.00,4.166667,210.000000
13,1,2018-11-22 23:20:00,78.5,4.0,26.0,1.0,0.000000,0.000000,5.900000,4.090000,5.200000,0.000000,0.0,1770.000000,1.060000,4.00,4.000000,211.000000
14,1,2018-11-22 23:21:00,84.5,4.0,26.0,1.0,0.000000,0.000000,5.900000,4.090000,5.200000,0.000000,0.0,1770.000000,1.060000,4.00,4.000000,211.000000
15,1,2018-11-22 23:22:00,90.5,4.0,26.0,1.0,16.666667,3.333333,5.900000,4.495000,2.600000,0.000000,0.0,1790.166667,1.135000,4.80,3.500000,154.000000
16,1,2018-11-22 23:23:00,96.5,4.0,26.0,1.0,53.583333,16.333333,6.816667,4.533333,12.416667,0.000000,0.0,2332.500000,1.233333,4.96,3.500000,177.500000
17,1,2018-11-22 23:24:00,102.5,4.0,26.0,1.0,0.000000,0.000000,5.800000,4.500000,4.900000,0.000000,0.0,2876.000000,1.250000,4.96,4.000000,211.000000
18,1,2018-11-22 23:25:00,108.5,4.0,26.0,1.0,0.000000,0.000000,5.800000,4.511667,4.900000,0.000000,0.0,2876.000000,1.275000,4.96,4.000000,211.000000
19,1,2018-11-22 23:26:00,114.5,4.0,26.0,1.0,66.666667,13.333333,5.683333,5.380000,6.800000,0.000000,0.0,3316.833333,1.596667,4.96,4.166667,187.333333
20,1,2018-11-22 23:27:00,120.5,4.0,26.0,1.0,0.000000,0.000000,5.300000,5.380000,5.500000,0.000000,0.0,4167.000000,1.650000,4.96,4.000000,213.000000
21,1,2018-11-22 23:28:00,126.5,4.0,26.0,1.0,0.000000,0.000000,5.300000,5.413333,5.500000,0.000000,0.0,4167.000000,1.650000,4.96,4.000000,213.000000
22,1,2018-11-22 23:29:00,132.5,4.0,26.0,1.0,78.400000,36.666667,5.666667,5.500000,4.800000,0.000000,0.0,4974.666667,1.750000,4.96,4.000000,211.833333
23,1,2018-11-22 23:30:00,138.5,4.0,26.0,1.0,0.000000,0.000000,5.500000,5.400000,3.400000,0.000000,0.0,5654.000000,1.750000,4.96,4.000000,207.000000
24,1,2018-11-22 23:31:00,144.5,4.0,26.0,1.0,0.000000,0.000000,5.500000,5.400000,3.400000,0.000000,0.0,5654.000000,1.750000,4.96,4.000000,207.000000
25,1,2018-11-22 23:32:00,150.5,4.0,26.0,1.0,0.000000,0.000000,5.500000,5.400000,3.400000,0.000000,0.0,5654.000000,1.750000,4.96,4.000000,207.000000
26,1,2018-11-22 23:33:00,156.5,4.0,26.0,1.0,0.000000,0.000000,5.500000,5.400000,3.400000,0.000000,0.0,5654.000000,1.750000,4.96,4.000000,207.000000
27,1,2018-11-22 23:34:00,162.5,4.0,26.0,1.0,0.000000,0.000000,5.500000,5.400000,3.400000,0.000000,0.0,5654.000000,1.750000,4.96,4.000000,207.000000
28,1,2018-11-22 23:35:00,168.5,4.0,26.0,1.0,0.000000,0.000000,5.500000,5.400000,3.400000,0.000000,0.0,5654.000000,1.750000,4.96,4.000000,207.000000
29,1,2018-11-22 23:36:00,174.5,4.0,26.0,1.0,50.000000,25.000000,5.166667,5.400000,3.550000,0.000000,0.0,6004.833333,1.783333,4.96,4.000000,199.000000
30,1,2018-11-22 23:37:00,180.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
31,1,2018-11-22 23:38:00,186.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
32,1,2018-11-22 23:39:00,192.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
33,1,2018-11-22 23:40:00,198.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
34,1,2018-11-22 23:41:00,204.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
35,1,2018-11-22 23:42:00,210.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
36,1,2018-11-22 23:43:00,216.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
37,1,2018-11-22 23:44:00,222.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
38,1,2018-11-22 23:45:00,228.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
39,1,2018-11-22 23:46:00,234.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
40,1,2018-11-22 23:47:00,240.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
41,1,2018-11-22 23:48:00,246.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
42,1,2018-11-22 23:49:00,252.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
43,1,2018-11-22 23:50:00,258.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
44,1,2018-11-22 23:51:00,264.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
45,1,2018-11-22 23:52:00,270.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
46,1,2018-11-22 23:53:00,276.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
47,1,2018-11-22 23:54:00,282.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
48,1,2018-11-22 23:55:00,288.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000
49,1,2018-11-22 23:56:00,294.5,4.0,26.0,1.0,0.000000,0.000000,5.000000,5.400000,3.600000,0.000000,0.0,6514.000000,1.800000,4.96,4.000000,191.000000

In [9]:
df.isnull().sum()

file_id            0
timestamp          0
index        7587276
campaign     7587276
batch        7587276
code         7587276
tbl_speed    7587434
fom          7587434
main_comp    7587434
tbl_fill     7587439
SREL         7587434
pre_comp     7587434
produced     7587483
waste        7587434
cyl_main     7587458
cyl_pre      7587483
stiffness    7587434
ejection     7587441
dtype: int64

In [13]:
df.shape

(7873762, 18)

In [15]:
df.describe()

,file_id,timestamp,index,campaign,batch,code,tbl_speed,fom,main_comp,tbl_fill,SREL,pre_comp,produced,waste,cyl_main,cyl_pre,stiffness,ejection
count,7.873762e+06,7873762,2.864860e+05,286486.000000,286486.000000,286486.000000,286328.000000,286328.000000,286328.000000,286323.000000,286328.000000,286328.000000,286279.000000,286328.000000,286304.000000,286279.000000,286328.000000,286321.000000
mean,1.259520e+01,2019-05-22 18:23:51.260846336,1.809464e+06,61.054227,262.953111,12.732252,75.113657,35.868098,6.255864,5.113752,4.877558,1.004870,951.406833,10765.848306,1.443179,3.899673,143.132527,159.320668
min,1.000000e+00,1900-01-01 00:00:00,1.500000e+00,3.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000e+00,2019-03-01 05:13:00,4.289780e+05,34.000000,123.000000,6.000000,0.000000,0.000000,4.466667,3.920000,3.783333,0.000000,199.166667,4019.000000,0.900000,3.000000,32.500000,108.000000
50%,1.100000e+01,2019-05-17 15:37:00,8.582795e+05,61.000000,252.000000,12.000000,100.000000,30.000000,5.600000,5.140000,4.433333,0.000000,658.000000,8134.000000,1.590000,5.000000,57.000000,155.333333
75%,2.100000e+01,2019-08-06 01:25:00,3.596043e+06,87.000000,368.000000,21.000000,120.000000,60.000000,8.183333,5.493333,5.383333,1.666667,1329.000000,13336.000000,1.790000,5.000000,78.333333,191.333333
max,2.500000e+01,2020-08-06 12:47:00,4.720207e+06,139.681953,705.685238,25.000000,164.383333,110.000000,27.300000,10.201667,260.300000,14.700000,4775.000000,50606.000000,8.000000,8.000000,2369.000000,4543.333333
std,7.581479e+00,NaN,1.548202e+06,32.326637,151.101672,7.598946,52.669143,32.357839,2.343813,1.322431,5.605370,1.698724,1005.712977,9448.624618,0.554009,1.684610,308.894005,134.422965